.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}
.message_user{
    margin-left: auto;
    color: #61dafb;
    text-align: left !important;
}
.message_userCard{
   background-color: aquamarine;
}
.message_guestCard{
    background-color: azure;
}


